

      <div class="masthead">
        <h3 class="muted">CFO Support</h3>
        <div class="navbar navbar-fixed-top navbar-inverse">
          <div class="navbar-inner">
            <div class="container-fluid">
              <div class="row-fluid">
              <div class="span2">
            </div>
            <div class="span10">
              <ul class="nav">
                <li><%= link_to "Home",  home_path %></li>
                <li><%= link_to "Services", services_path %> </li>
                <li><%= link_to "When Required", required_path %></li>
                <li><%= link_to "Faq", faq_path  %></li>
                <li><%= link_to "About Us", about_path  %></li>
                <li><%= link_to "Articles", articles_path  %></li>
                <li><%= link_to "Contact Us", contact_path  %></li>
              </ul>
            </div>
           
          </div><!--.row-fluie -->
          </div>
        </div><!-- /.navbar -->
     

          
          
